.teacher-itens {
    background: var(--color-box-base);
    border: 1px var(--color-line-in-white);
    border-radius: 0.8rem;
    margin-top: 2.4rem;
    overflow: hidden;
}

.teacher-itens header {
    padding: 3.2rem 2rem;
    display: flex;
    align-items: center;
}

.teacher-itens header img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.teacher-itens header div {
    margin-left: 2.4rem;
}

.teacher-itens header div strong {
    font: 700 2.4rem Poppins;
    display: block;
    color: var(--color-text-title);
}

.teacher-itens header div span{
    font-size: 1.6rem;
    display: block;
    margin-top: 0.4rem;
}

.teacher-itens > p {
    padding: 0 2rem;
    font-size: 1.6rem;
    line-height: 2.8rem;
}

.teacher-itens footer {
    padding: 3.2rem 2rem;
    background: var(--color-box-footer);
    border-top: 1px solid var(--color-line-in-white);
    margin-top: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.teacher-itens footer p strong {
    color: var(--color-primary);
    font-size: 1.6rem;
    display: block;
}

.teacher-itens footer a {
    width: 20rem;
    min-height: 5.6rem;
    background: var(--color-secondary);
    color: var(--color-button-text);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.4rem Poppins;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.2s;
    text-decoration: none;
}

.teacher-itens footer a:hover {
    background: var(--color-secondary-dark);
    
}

@media (min-width: 700px){

    .teacher-itens header,
    .teacher-itens footer{
        padding: 3.2rem;
    }

    .teacher-itens p {
     padding: 0 3.2rem;   
    }

    .teacher-itens footer p strong {
        display: initial;
        margin-left: 1.6rem;
    }

    .teacher-itens footer button {
        width: 24.5rem;
        font-size: 1.6rem;
        justify-content: center;
    }

    .teacher-itens footer button img {
        margin-right: 1.6rem;
    }
    
}